.venv/
.venv.old/
*__pycache__/
*.db
*.parquet
*packerignore
data/
createFolder.py
notebooks
anaconda_projects
.virtual_documents
.vscode/
backtests/
scraper_old/
predict.py
tests/
features_old/
.VSCodeCounter/
backtests/
project_codebase.txt
file_create.py
code_packer.py
train.py
models_old/
config/settings.json
features/generators/*
!features/generators/_example_generator.py
!features/generators/__init__.py
config/*.json
.active_config
packed_code.md