.venv/
.venv.old/
*__pycache__/
*.db
*.parquet
data/
createFolder.py
notebooks
anaconda_projects
.virtual_documents
.vscode/
backtests/
config/*.json
scraper_old/
predict.py
tests/
features_old/
.VSCodeCounter/
backtests/